<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        type="text"
        placeholder="Title"
        ngModel
        name="title"
        required
        #title="ngModel"
      />
      <mat-error *ngIf="title.invalid">Please enter a title</mat-error>
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        rows="4"
        ngModel
        name="content"
        placeholder="Content"
        required
        #content="ngModel"
      ></textarea>
      <mat-error *ngIf="content.invalid">Please enter content</mat-error>
    </mat-form-field>
    <button mat-stroked-button color="accent" type="submit">POST</button>
  </form>
</mat-card>
